<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Inicio')"></head>
<body>

<!-- Contenido -->
<main class="flex-grow-1">

    <section class="hero-section" th:style="'background-image: url(' + @{/images/logo-horizontal.jpg} + ')'">
        <div class="hero-content text-center text-white px-3">
            <h1>Bienvenido a <span class="highlight-text">GameScore</span>.</h1>
            <p class="lead mt-3">Tu blog de juegos favorito.</p>
            <a th:href="@{/juegos}" class="btn btn-dark-solid mt-4">Ver Juegos</a>
        </div>
    </section>

</main>

<!-- JS scripts -->
<div th:replace="layout :: scripts"></div>

</body>
</html>