<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>GameScore - Inicio</title>
</head>

<body>
    <header class="header content">
        <!-- Video de fondo -->
        <div class="header-video">
            <video th:src="@{/videos/retrowave.mp4}" autoplay muted loop playsinline></video>
        </div>

        <!-- Overlay semitransparente -->
        <div class="header-overlay"></div>

        <!-- Contenido principal -->
        <div class="header-content">
            <h1>Bienvenido a <span class="title">GameScore</span></h1>
            <p class="lead mt-3">Tu blog de juegos favorito.</p>
            <a th:href="@{/juegos}" class="btn">Ver Juegos</a>
        </div>
    </header>
</body>

</html>