<div class="row">
    <div class="col-md-8 mb-3">
        <label for="game" class="form-label">Juego *</label>

        <th:block th:if="${currentGame != null}">
            <input type="text" class="form-control bg-dark text-white-50" th:value="${currentGame.name}" readonly>

            <input type="hidden" th:field="*{game.id}" th:value="${currentGame.id}" />

            <input type="hidden" th:field="*{game.id}" />
        </th:block>

        <th:block th:unless="${currentGame != null}">
            <select class="form-select" id="game" th:field="*{game.id}" required>
                <option value="">Selecciona un juego</option>
                <option th:each="g : ${games}" th:value="${g.id}" th:text="${g.name}"></option>
            </select>
        </th:block>

        <div class="text-danger" th:if="${#fields.hasErrors('game')}" th:errors="*{game}"></div>
    </div>

</div>